/* src/index.css */
:root {
  --bg: #f7f9fc;
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  background: var(--bg);
  font-family: Inter, system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
